dev-VR/THG-VR/obj/
dev-VR/THG-VR/.vs/
dev-VR/THG-VR/Library/
dev-VR/THG-VR/Temp/
dev-VR/THG-VR/.DS_Store
dev-VR/THG-VR/.DS_Store
dev-VR/THG-VR/._*
dev-VR/THG-VR/.Spotlight-V100
dev-VR/THG-VR/.Trashes
dev-VR/THG_VR/Assets/Plugins/iOS/
ehthumbs.db
Thumbs.db