dev-VR/THG_VR/obj/
dev-VR/THG_VR/.vs/
dev-VR/THG_VR/Library/
dev-VR/THG_VR/Temp/
dev-VR/THG_VR/.DS_Store
dev-VR/THG_VR/._*
dev-VR/THG_VR/.Spotlight-V100
dev-VR/THG_VR/.Trashes
dev-VR/THG_VR/Assets/Plugins/iOS/
ehthumbs.db
Thumbs.db